# Build results
[Dd]ebug/
[Rr]elease/
#[Rr]eleases/
x64/
x86/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/
*.ignore
# Visual Studio 2015/2017 cache/options directory
.vs/
*.user
# build artefacts no worries
*.dll
*.exe
.vs/
*.suo
.svn/